{T:header}
    
<!-- /header   -->
    
<!-- main -->

    <article class="main">

    <!-- form -->

	      {T:users}
	        {T:submit_button1}
	        {T:submit_button2}
            </article>
{T:footer}
    </body>
</html>