{T:header}
    
<!-- /header   -->
    
<!-- main -->

        <article class="main">

            <!-- form -->
            
            {T:auth_form}
            {T:submit_button}
        </article>
        {T:footer}
    </body>
</html>