 <form id="{T:id}" name="{T:name}" method="{T:method}" action="{T:action}" class="auth-form {T:access}">
            
            <fieldset>
             
                <legend>{T:legend}</legend>
                <div class="breaked form-string">
                     <i class="fa fa-user" aria-hidden="true"></i>
                    <label class="login-label" for="login"> Логин: </label>
                    <input name="login" id="login" class="login-input" type="text"/>

                </div>

                <div class="breaked form-string">
                    ** <label class="pass-label" for="password"> Пароль: </label>
                    <input name="password" id="password" class="pass-input" type="password"/>
                </div>

            <input type="hidden" name="action" value="auth"/>
            </fieldset>
        </form>