{T:header}
    
<!-- /header   -->
    
<!-- main -->

    <article class="main">

    <!-- form -->

	      <form id="{T:id}" name="{T:name}" method="{T:method} action={T:action}" class="block">
              <div class="div-search"><input type="text" class="search" placeholder="Поиск...">{T:search} </div>
        <table class="list">
            <thead>
                <th>Дата регистрации</th>
                <th>ФИО</th>
                <th>Пол</th>
                <th>Возраст</th>
            </thead>
            <tbody>
               
                <tr><td>01.07.2016</td><td>Иванов Иван Иванович</td><td>М</td><td>14</td></tr>
                <tr><td>01.07.2016</td><td>Смирнова Марина Ивановна</td><td>ж</td><td>11</td></tr>
                <tr><td>01.07.2016</td><td>Александров Александр Александрович</td><td>М</td><td>14</td></tr>
                <tr><td>01.07.2016</td><td>Вадов Вадим Вадимович</td><td>М</td><td>14</td></tr>
                <tr><td>01.07.2016</td><td>Курортный Игнат Ильич</td><td>М</td><td>14</td></tr>
<!--
                <tr><td>01.07.2016</td><td>Фамилия1 Имя1 Отчество1</td><td>М</td><td>14</td></tr>
                <tr><td>01.07.2016</td><td>Фамилия2 Имя2 Отчество2</td><td>М</td><td>14</td></tr>
                <tr><td>01.07.2016</td><td>Фамилия3 Имя3 Отчество3</td><td>М</td><td>14</td></tr>
                <tr><td>01.07.2016</td><td>Фамилия4 Имя4 Отчество4</td><td>М</td><td>14</td></tr>
                <tr><td>01.07.2016</td><td>Фамилия5 Имя5 Отчество5</td><td>М</td><td>14</td></tr>
                <tr><td>01.07.2016</td><td>Фамилия6 Имя6 Отчество6</td><td>М</td><td>14</td></tr>
                <tr><td>01.07.2016</td><td>Фамилия7 Имя7 Отчество7</td><td>М</td><td>14</td></tr>
                <tr><td>01.07.2016</td><td>Фамилия8 Имя8 Отчество8</td><td>М</td><td>14</td></tr>
                <tr><td>01.07.2016</td><td>Фамилия9 Имя9 Отчество9</td><td>М</td><td>14</td></tr>
                <tr><td>01.07.2016</td><td>Фамилия10 Имя10 Отчество10</td><td>М</td><td>14</td></tr>
-->


               
            </tbody>
        </table>
    <div class="btn-block">
    {T:submit_button}
    {T:cancel_button}
    </div>
       </form>
	       
            </article>
{T:footer}
    </body>
</html>