<form id="{T:id}" name="{T:name}" method="{T:method} action={T:action}" class="block">
           
        <table class="list">
            <thead>
                <th>Параметр</th>
                <th>Данные</th>
            </thead>
            <tbody>
               
                <tr><td>Фамилия:</td><td><input type="text" name="12" value=""></td></tr>
                <tr><td>Имя:</td><td><input type="text" name="12" value=""></td></tr>
                <tr><td>Отчество: </td><td><input type="text" name="12" value=""></td></tr>
                <tr><td>Возраст: </td><td><input type="text" name="12" value=""></td></tr>
                <tr><td>Пол:</td><td><input type="text" name="12" value=""></td></tr>
                <tr><td>Инвалидность:</td><td><input type="text" name="12" value=""></td></tr>
                <tr><td>Мама:</td><td><input type="text" name="12" value=""></td></tr>
                <tr><td>Место работы:</td><td><input type="text" name="12" value=""></td></tr>
                <tr><td>Папа:</td><td><input type="text" name="12" value=""></td></tr>
                <tr><td>Место работы:</td><td><input type="text" name="12" value=""></td></tr>
                <tr><td>Домашний адрес:</td><td><input type="text" name="12" value=""></td></tr>
                <tr><td>Телефон:</td><td><input type="text" name="12" value=""></td></tr>
                <tr><td> № свидетельства о рождении:</td><td><input type="text" name="12" value=""></td></tr>
                <tr><td> Кем доставлен:</td><td><input type="text" name="12" value=""></td></tr>
                <tr><td>Прибыл</td><td><input type="text" name="12" value=""></td></tr>
                <tr><td>Опоздал</td><td><input type="text" name="12" value=""></td></tr>
                <tr><td>Дата регистрации</td><td><input type="text" name="12" value=""></td></tr>
                <tr><td>Дата выписки</td><td><input type="text" name="12" value=""></td></tr>
                <tr><td>Лечение продлено на_____(дн.)</td><td><input type="text" name="12" value=""></td></tr>
                <tr><td> Выписано досрочно _0_(дн.)</td><td><input type="text" name="12" value=""></td></tr>
                <tr><td>Причина изменения сроков</td><td><input type="text" name="12" value=""></td></tr>
                <tr><td> Проведено койко-дней</td><td><input type="text" name="12" value=""></td></tr>
                <tr><td>Выдан больничный лист c</td><td><input type="text" name="12" value=""></td></tr>
                <tr><td>-//- по</td><td><input type="text" name="12" value=""></td></tr>
                <tr><td>Ребенка забрал(а):</td><td><input type="text" name="12" value=""></td></tr>
                <tr><td>Время и место отбора(наименование и адрес медицинского учреждения):</td><td><input type="text" name="12" value=""></td></tr>
                <tr><td>Диагноз с места отбора</td><td><input type="text" name="12" value=""></td></tr>
                <tr><td>Диагноз санатория при поступлении:</td><td><input type="text" name="12" value=""></td></tr>

                <tr></tr>
            </tbody>
        </table>
    <div class="btn-block">
    {T:submit_button}
    {T:cancel_button}
    </div>
       </form>