.btn-block .cancel {
margin-top: 10px;
}
.btn-block{
    vertical-align: top;
    margin-left: 25px;
/*    display: inline-block;*/
}

.main {
    text-align: center;
}
.list{
    display: inline-block;
    font: 14px "Arial Narrow";

    text-align: left;
    vertical-align: top;
}

.list th {
    text-align: center;
    
}


input{
    width: 500px;
    background: rgba(37,102,130, 0.2);
    color: aliceblue;
    border: 1px solid rgba(37,102,130, 1);
}