body {
/*    background: url('../images/bg/bg.jpg');*/
}

.auth-form {
    margin: 100px auto 0 auto;
    padding: 20px;
    font-size: 16px;
    text-align: center;
    width: 350px;
    border-radius: 3px;
}

.auth-form fieldset {
    padding: 20px;
    border: 1px solid #256682;
    background: rgba(21, 69, 89, 0.76);
}

.access-denied fieldset{
    background: rgba(175, 42, 42, 0.6);
}

.access-granted fieldset{
    background: rgba(44, 175, 42, 0.6);
}

.auth-form legend {
    padding: 0 10px 0 10px;
}

.action:link {
    text-decoration: none;
    color: #fff;
}

.btn {
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: 7px 18px 7px 18px;
    border-radius: 4px;
    border:  1px solid #256682;
    background: rgba(21, 69, 89, 0.76);
    width: 70px;
    height: 20px;
    font: 16px "Arial Narrow";
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.btn:active {
    background: #fff;
    opacity: 1;
    font-weight: bold;
    color: #000;
}

.login-label,
.pass-label {
    width: 50px;
    text-align: right;
    display: inline-block;
    padding: 0 15px 0 0;
}

.form-string {
    padding: 5px 0 5px 0;
}

.space {
    margin: 10px 0 0 0;
}

