footer {
    display: none;
    padding: 20px 0 20px 0;
    width: 100%;
   /* position: fixed;*/
    bottom: 0;
    
    background: rgba(37, 102, 130, 0.35);
    text-align: center;
    /*color: #fff;*/
    /*border-top: 1px solid #256682;*/
}