header {
    background: rgba(37, 102, 130, 0.35);
}

h1, h2, h3 {
    color: aliceblue;
}

h1 {
    font: 28px "Arial Narrow";
    padding: 20px 0 15px 30px;
/*    border-bottom: 1px solid  #256682;*/
}

h2 {
    font: 20px "Arial Narrow";
    padding: 20px 0 0 30px;
}

.exit-button {
    position:absolute;
    right: 10px;
    top: 18px;
    padding: 7px 18px 7px 14px;
}


.u-name {
    position:relative;
    float: right;
    top: 22px;
    right: 150px;
    font: 16px "Arial Narrow";
}