body {
    background: url('../images/bg/bg.jpg') fixed;
    margin: 0 auto 0 0;
    font: 11px "Arial narrow";
    color: aliceblue;
}

.main {
    padding: 20px 10px 0px 10px;
}

.btn {
    position: relative;
    text-align: center;
    padding: 7px 12px 7px 14px;
    border-radius: 4px;
    border:  1px solid #256682;
    background: rgba(21, 69, 89, 0.76);
    width: 80px;
    height: 20px;
    font: 14px "Arial Narrow";
}

.btn:hover {
    background: rgba(21, 69, 89, 0.3);
    cursor: pointer;
}

.btn:active {
    background: #fff;
    opacity: 1;
    font-weight: bold;
    color: #000;
}


.list {
    position: relative;
    margin: 0 auto 20px auto;
    border: 1px solid #256682;
    background: rgba(27,102,130,0.3);
    
}

.list td {
    padding: 5px 10px 5px 10px;
    border: 1px solid #256682;
}

.list thead {
    background: #256682;   
}

.list thead td{
    text-align: center;
    border-right: 1px solid rgba(255,255,255,0.1);
}
.list thead th:hover{
    opacity: 0.8;
}

.list thead tr {
    height: 25px;
}

.list thead th {
    vertical-align: middle;
    font-size: 16px;
}

.list thead tr:hover{
    background: #256682;
    
}

.list tr:hover {
    background: #339082;
    cursor: pointer;
}
/* -------------------------Основные блоки, контейнеры */



/* Разделы------------------------------------------ */
