/*
.btn-block .cancel, .submit {
margin-top: 10px;
}
.btn-block{

    vertical-align: top;

}
*/
.cancel,  .submit {
    display: inline-block;
}
form {
    text-align: left;
    min-width: 300px;
    width: auto;
}
.main {
    text-align: center;
}
.list{
    
    display: inline-block;
    font: 14px "Arial Narrow";

    text-align: left;
    vertical-align: top;
}

.list th {
    text-align: center;
    
}
.list td, th {
    padding: 5px 10px 5px 10px;
}


input{
    width: 500px;
    background: rgba(37,102,130, 0.2);
    color: aliceblue;
    border: 1px solid rgba(37,102,130, 1);
}

.s-button {
    display: inline-block;
    padding 5px;
    width: 20px;
    height: inherit;

    vertical-align: middle;
}

.div-search {
    
    color: 1px solid aliceblue;
    text-align:  left;
    margin-bottom: 10px;
}

.search {
    
    min-width: 200px;
    width: auto;
    height: inherit;
    vertical-align: middle;

    padding: 5px;
}